absl-py==1.1.0
alabaster==0.7.12
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.10.1
bleach==5.0.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
docutils==0.17.1
fonttools==4.33.3
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.4
iniconfig==1.1.1
Jinja2==3.1.2
keyring==23.5.1
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
mediapipe==0.8.10
numpy==1.22.4
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.1.1
pkginfo==1.8.2
pluggy==1.0.0
protobuf==3.20.0
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-argparse==0.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
-e git+https://github.com/sanjeevs/spvideoutils.git@78db6e7c76e2d9ee18a20a18164ec998586ecccd#egg=spvideoutils
tomli==2.0.1
twine==4.0.0
urllib3==1.26.9
webencodings==0.5.1
zipp==3.8.0
